# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Local databases
*.db
*.sqlite

# Virtual environments
venv/
.venv/
env/
.env

# IDE configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Docker & logs
logs/*.log
mysql_data/
prometheus_data/
grafana_data/

# Machine Learning models
app/ml/saved_models/
